.while-tem {
    background: #ffffff;
    color: var(--slate-500);
}

.while-col {
    color: #ffffff;
}

.dark-tem {
    background: var(--slate-900);
    color: var(--slate-400);
}

.dark-col {
    color: #000000;
}

.site-footer {
    padding: 1rem;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-around;
}

.footer-copy {
    margin: 0;
    font-size: clamp(11px, 1.2vw, 12px);
    line-height: 1rem;
}

.footer-links {
    display: flex;
    gap: 1.5rem;
}

.footer-links a {
    font-size: clamp(11px, 1.2vw, 12px);
    line-height: 1rem;
    color: var(--slate-400);
}


@media (max-width: 723px) {
    .footer-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

