.while-tem {
    background-color: #ffffff;
    color: var(--slate-500);
}

.while-col {
    color: #ffffff;
}

.dark-tem {
    background-color: var(--slate-900);
    color: var(--slate-400);
}

.dark-col {
    color: #000000;
}

.site-footer {
    padding: 2rem 4.5rem;
}

.footer-grid {
    display: grid;
    gap: 2.5rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.footer-brand {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.footer-logo {
    height: 1.5rem;
    width: 1.5rem;
}

.footer-title {
    margin: 0;
    /* Mobile 16px to Desktop 20px */
    font-size: clamp(16px, 3vw, 20px);
    font-weight: 700;

}

.footer-text {
    margin-top: 1.5rem;
    margin-bottom: 0;
    /* Mobile 12px to Desktop 14px */
    font-size: clamp(12px, 2vw, 14px);
    line-height: 22px;
}

.footer-heading {
    margin: 0 0 1.5rem;
    /* Mobile 14px to Desktop 16px */
    font-size: clamp(14px, 2.5vw, 16px);
    font-weight: 700;

}

.footer-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 1rem;
    /* Mobile 12px to Desktop 14px */
    font-size: clamp(12px, 2vw, 14px);
}

.footer-bottom {
    margin-top: 2rem;
    padding-top: 1.5rem;
    border-top: 1px solid var(--slate-400);
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.footer-copy {
    margin: 0;
    /* Mobile 11px to Desktop 12px */
    font-size: clamp(11px, 1.2vw, 12px);
    line-height: 1rem;
}

.footer-links {
    display: flex;
    gap: 1.5rem;
}

.footer-links a {
    font-size: clamp(11px, 1.2vw, 12px);
    line-height: 1rem;
    color: var(--slate-400);
}

@media (max-width: 1023px) {
    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }
}

@media (max-width: 767px) {
    .site-footer {
        padding: 1.5rem;
    }

    .footer-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-bottom {
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
    }
}